@import '../Variable.scss';

.media{
    @include transition(.5s);
    .pages{
        position: relative;
        .ico-arow{
            opacity: 0.1;
            @include transition(.5s);
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.541);
            i{
              font-size: 50px;
              font-weight: 100;
              font-family: $Rubik;
              opacity: .5;
            }
        }
    }
}
.media:hover{
    .pages{
       .ico-arow{
        opacity: 0.9;
       }
    }
}