@import '../Variable.scss';

.blog_banner{
    @include Border-radious(10px);
    overflow: hidden;
}
.close{
    border-bottom-left-radius: 100%;
    cursor: pointer;
    position: absolute;
    top:0;
    right: 0;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    i{  margin-left: 5px;
        margin-top: -5px;
        color: rgb(255, 255, 255);
    }
    background: $secondray;
}

.file-input-bg::file-selector-button{
    background-color: $secondray;
    border: none;
    padding: 13px;
    color: $primery;
    font-weight: bold;
}
.file-input-bg{
    cursor: pointer;
    width: 100% !important;
    @include Border-radious(10px);
}

.tags{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    
    .tag_item{
        @include Border-radious(5px);
      i{margin-right: 5px;
        cursor: pointer;
        @include Border-radious(100%);
        padding: 4px 6px;
        color: #fff;
        font-size: 10px;
        background: $primery;
      }  
      word-wrap: break-word;
      margin: 0px 5px;
      margin-top: 5px;
      padding: 5px;   
      text-transform: capitalize;
      font-weight: bold;  
      background: $secondray;  
      color: $primery
    }
    @include Border-radious(10px);
    background: #fff;
    max-height: 86px;
    height: 100%;
    width: 100%;
    max-width: 100%;
}