@import '../Variable.scss';
.froms{
    @include Border-radious(10px);
    display: flex;
    flex-direction: column;
    padding: 60px;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    width: 100%;
    background: $primery;

    .error{
        display: flex;
                align-items: center;
        @include Border-radious(10px);
        width: 100%; 
        background: rgba(255, 0, 0, 0.277);
        padding:  15px;
        ul{
            li{ 
                margin-top: 10px;
                i{font-size: 12px;
                    margin-bottom:2px;
                   margin-right: 5px;
                 @include Border-radious(100%);
                background: rgb(255, 0, 0);
                color: white;
                padding: 4px 6px;    
            }
                color: red;
            }
        }
    }    
    .success{
        @include Border-radious(10px);
        width: 100%; 
        background: #2ecc7049;
        padding:  15px;
        ul{
            li{  display: flex;
                align-items: center;
                margin-top: 8px;
                i{font-size: 10px;
                    margin-bottom:5px;
                   margin-right: 10px;
                 @include Border-radious(100%);
                background: #2ecc71;
                color: white;
                padding: 5px 5px;    
            }
                color: #2ecc71;
            }
        }
    }
}